<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthShareUsageDescription</key>
	<string> We would like to have acces to your heart rate data to be able to verify if your health is ok and make you pay more atention for your condition.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string> We would like to have acces to your heart rate data to be able to verify if your health is ok and make you pay more atention for your condition.</string>
</dict>
</plist>
